<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ta faim ?</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="min-h-screen flex flex-col bg-[linear-gradient(160deg,#EDE4D0,#C7BDA9)]">

<!--tête-->
    <header class="p-10 flex justify-between">
        {% if session['util'] %}
        <a href="/accueil">
            <img class="max-w-48 hover:scale-120 transition-transform duration-300" src="/static/Design sans titre (7).png">
        </a>
        {% else %}
        <a href="/">
            <img class="max-w-48 hover:scale-120 transition-transform duration-300" src="/static/Design sans titre (7).png">
        </a>
        {% endif %}
        
        <nav>
            <ul class="flex space-x-10 text-lg font-semibold">
                {% if not session['util'] %}
                <li class="hover:scale-130 transition-transform duration-300"><a href="/login">Se Connecter</a></li>
                <li class="hover:scale-130 transition-transform duration-300"><a href="/register">S'enregistrer</a></li>
                {% endif %}
            </ul>

            <!-- SOUS MENU -->
            {% if session['util'] %}
            <div class="nav-profil" id="menuProfil">
                <a href="" class="lien-nav declencheur-profil">
                    <span class="icone-profil">👤</span> Mon Profil
                    <span class="chevron">▾</span>
                </a>  
                <div class="menu-deroulant" id="menuDeroulant">
                    <a href="/profil">
                        <span>⚙️</span> Mon Compte
                    </a>

                    <a href="/accueil_group">
                        <span>👥</span> Mon Groupe
                    </a>

                    <a href="/favori">
                        <span>❤️</span> Mes Favorie
                    </a>

                    <a href="/logout">
                        <span>🖼️</span> Se Déconnecter
                    </a>

                </div>
            </div>
            {% endif %}
            <!-- FIN -->
        </nav>
    </header>

    <!--corp-->
    <main class="flex-1">

        {%block content %}
    
        {%endblock %}

    </main>
    
    <!--pied-->
    <footer class="p-10 text-center">
        <p>Copyright : Joris'©</p>
        <p>contact pro : joris@gmail.com</p>
    </footer>
</body>
</html>