{% extends "base.html" %}

{% block content %}
    <!-- Ici on code -->
    <div class="flex items-center justify-center pt-18 pb-40" >
        <form method="POST" action="{{ url_for('register')}}" class="p-9 rounded bg-white/60 border border-white/40 backdrop-blur-md rounded-3xl shadow-lg">

            <h2 class="text-5xl text-center">S'inscrire</h2>
            <p class="text-center text-xs pb-10">Inscrivez vous pour continuer</p>

            <!--Les inputs-->
            <div>
                <input name="utilisateur" type="text" placeholder="Nom de l'utilisateur" class="min-w-[260px] border-none p-2 leading-tight appearance-none focus:outline-none ">
                <hr class="border-0 h-[1px] bg-gray-400">
            </div>
            <div class="py-7">
                <input name="mot_de_passe" type="password" placeholder="Mot de passe" class="min-w-[260px] border-none p-2 leading-tight appearance-none focus:outline-none ">
                <hr class="border-0 h-[1px] bg-gray-400">
            </div>
            <div>
                <input name="verif_mot_de_passe" type="password" placeholder="Confirmer le mot de passe" class="min-w-[260px] border-none p-2 leading-tight appearance-none focus:outline-none">
                <hr class="border-0 h-[1px] bg-gray-400">
            </div>

            <!-- Message d'erreur-->
            {% if erreur %}
            <p class="text-red-700 text-center text-lg pt-2"><strong>Erreur :</strong> {{erreur}}</p>
            {% endif %}

            <!--LE BOUTON-->
            <div class="flex justify-center mt-6">
                <button type="submit" class="bg-red-400 py-1 rounded-xl text-white font-bold cursor-pointer hover:bg-red-800 px-18 hover:shadow-2xl hover:-translate-y-1 transition-all duration-300">
                    S'inscrire
                </button>
            </div>

        </form>
    </div>

{% endblock %}